<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PCWorld</display-name>
  <welcome-file-list>
    <welcome-file>CatalogoView.jsp</welcome-file>
  </welcome-file-list>
<resource-ref>
	<res-ref-name>jdbc/tsw</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
</resource-ref>

	<servlet>
		<servlet-name>CarrelloControl</servlet-name>
		<servlet-class>it.unisa.control.CarrelloControl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CatalogoControl</servlet-name>
		<servlet-class>it.unisa.control.CatalogoControl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DettagliControl</servlet-name>
		<servlet-class>it.unisa.control.DettagliControl</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CarrelloControl</servlet-name>
		<url-pattern>/carrello</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CatalogoControl</servlet-name>
		<url-pattern>/catalogo</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DettagliControl</servlet-name>
		<url-pattern>/dettagli</url-pattern>
	</servlet-mapping>
	
	</web-app>